<app-top-bar></app-top-bar>
<app-product-list></app-product-list>
<!--<app-product-alerts></app-product-alerts>-->

<!--<div class="container">-->
<!--  <router-outlet></router-outlet>-->
<!--</div>-->

<p class = "title_category">Online-store of Kaspi.kz</p>

<a class = "all_categories">
  <button class="box_category" (click)="categorySelect(1)">
    <p class = "text_category">
      Smartphones
      <img class = "image_category" src="https://kaspi.kz/img/Phone.png"></p>
  </button>

  <button class="box_category" (click)="categorySelect(2)">
    <p class = "text_category">
      Laptops
      <img class = "image_category" src="https://kaspi.kz/img/Computer.png"></p>
  </button>

  <button class="box_category" (click)="categorySelect(3)">
    <p class = "text_category">
      Household appliances
      <img class = "image_category" src="https://kaspi.kz/img/HomeApp.png"></p>
  </button>

  <button class="box_category" (click)="categorySelect(4)">
    <p class = "text_category">
      TV
      <img class = "image_category" src="https://kaspi.kz/img/TV.png"></p>
  </button>
</a>

<div class="container">
  <!-- use [] send the data to child component -->
  <app-product-list [category]="category"></app-product-list>
</div>
<router-outlet></router-outlet>
